@model demo.Models.Message

@{
	ViewBag.Title = "Sompose";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="col-md-12  nopadding open_mail">
		<div class="jumbotron nomargin">
			<h4>
				@Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label" }): 
				@if (ViewData["MailTo"] != null)
				{
					@Html.TextBoxFor(model => model.To, new { @Value = ViewData["MailTo"], @class = "send_mail_input" })

				} else
				{
					@Html.TextBoxFor(model => model.To, new { @class = "send_mail_input" })
				}
			</h4>
			<input type="submit" name="name" value="Send" id="send_new_mail" class="btn btn-success" />

		</div>
		<div class=" jumbotron nomargin">
			<h4>@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" }):
				@Html.TextBoxFor(model => model.Title, new { @class = "send_mail_input" })
			</h4>
		</div>
		<div class="open_mail_text">
			@Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "send_mail_input" } })
		</div>
	</div>
		if(ViewData["Error"] != null)
		{
			@:<script>$.notify('@ViewData["Error"]', 'error');</script>
		}
}
