@using demo.Models;
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Simple mail</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/font-awesome")

</head>
<body>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/scrollbar")
	@Scripts.Render("~/bundles/notify")
	@Scripts.Render("~/bundles/jquery-ui")
	@RenderSection("scripts", required: false)
	
	<div class="header">
		<a href="#" id="menu-action" class="active">
			<i class="fa fa-close"></i>
			<span>Close</span>
		</a>
		<div class="logo">
			Simple Mail
			@Html.Partial("_LoginPartial")
		</div>
	</div>
	<div class="sidebar active">
		<ul>
			<li><a href="#" id="user_settings_button"><i class="fa fa-user"></i><span>Profile</span></a></li>
		</ul>
		<ul>
			<li><a href="@Url.Action("index", "Home")"><i class="fa fa-envelope"></i><span>Inbox</span></a></li>
			<li><a href="@Url.Action("SentMails", "Home")"><i class="fa fa-server"></i><span>Sent</span></a></li>
			<li class="contacts top_border">
				<a href="#" disabled><i class="fa fa-address-book"></i><span>Contats</span></a>
			</li>
		</ul>
		<ul class="user_list user_list_filter">
			<li class="user_item"><a href="#" disabled>
				<i class="fa"></i>
				<span>
					<input type="text" id="filter_user_list" placeholder="Search user"/>
				</span></a></li>
		</ul>
		<ul class="user_list scrollbar-macosx">
			@{
				var users_list = (List<ApplicationUser>)ViewData["Users"];
				if (users_list != null)
				{
					foreach (var user in users_list)
					{
						<li class="user_item user_list_item">
							<a href="@Url.Action("SendMail", "Home", new { id = user.UserName })" disabled>
								<i class="fa"></i>
								<span title="@{ @user.UserName}">@{ @user.FullName}</span>
							</a>
						</li>
					}
				}
			}
		</ul>
		
	</div>
	<!-- Content -->
	<div class="main active">
		@RenderBody()
	</div>
	<div id="user_settings" style="width:0px;">
		<div class="inner">
			<p id="close_user_settings"><i class="fa fa-times" aria-hidden="true"></i> &nbsp;Close</p>
			<h3>Profile Settings</h3>
			@{
				var username = User.Identity.GetUserName();
				var user_lst = (List<ApplicationUser>)ViewData["AllUsers"];
				if (user_lst != null)
				{
					var curent_user = user_lst.Where(w => w.UserName == username).FirstOrDefault();
					if (curent_user != null)
					{
						var hidden = curent_user.Hidden;
					<label>
						<input type="checkbox" value="1" class="hide_user_checkbox"  @(!hidden ? "checked" : "") />
						&nbsp;Visible for other users
					</label>
						}
					}
				}
		</div>
</div>

	<script>
		$('#filter_user_list').on('input propertychange paste', function () {
			var stringToSerach = $(this).val().toLowerCase();

			$('.user_list_item').each(function (key, val) {
				if ($(val).children("a").children("span").text().toLowerCase().indexOf(stringToSerach) != -1) {
					$(val).show();
				}
				else {
					$(val).hide();
				}
			})
		});
	</script>

	<script>
		$("p#close_user_settings").click(function () {
			$("#user_settings").animate({ width: 0 }, { duration: 300 });
		})
		var urlToHide = '@Url.Action("ToggleHideUser", "Home")';

		$(".hide_user_checkbox").click(function () {
			$.ajax({
				url: urlToHide,
				method: "POST",
				success: function (result) {
					if (result.status != "success") {
						$.notify("Can not set visibility", "error");
					}
				}
			});
		});
	</script>
	<script type="text/javascript">
		$("#user_settings_button").click(function () {
			var sidenav = $("#user_settings");

			if ($(sidenav).css("width") == "0px") {
				$(sidenav).animate({ width: 250}, { duration: 300 });
			}
			else {
				$(sidenav).animate({ width: 0 }, { duration: 300 });
			}
		})
	</script>

	<script type="text/javascript">
			$('#menu-action').click(function() {
				$('.sidebar').toggleClass('active');
				$('.main').toggleClass('active');
				$(this).toggleClass('active');

				if ($('.sidebar').hasClass('active')) {
					$(this).find('i').addClass('fa-close');
					$(this).find('i').removeClass('fa-bars');

					var w = parseInt($(".open_mail").css("width")) - 248;
				} else {
					$(this).find('i').addClass('fa-bars');
					$(this).find('i').removeClass('fa-close');

					var w = parseInt($(".open_mail").css("width")) + 248;
				}
				$(".open_mail").animate({"width": w+"px"}, "400");
			});
	</script>
	<script type="text/javascript">
			$("a.open_mail_back_link").click(function(){
				$(".inbox_col").css("z-index", "2");
			});
			$(".message").click(function(){
				$(".inbox_col").css("z-index", "0");
			})
	</script>
	<script type="text/javascript">
	            jQuery(document).ready(function(){
	                jQuery('.scrollbar-macosx').scrollbar();
	            });
	</script>
</body>
</html>