@using demo.Models;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple mail</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/font-awesome")

</head>
<body>
	
	<div class="header">
		<a href="#" id="menu-action" class="active">
			<i class="fa fa-close"></i>
			<span>Close</span>
		</a>
		<div class="logo">
			Simple Mail
			@Html.Partial("_LoginPartial")
		</div>
	</div>
	<div class="sidebar active">
		<ul>
			<li><a href="#"><i class="fa fa-user"></i><span>Profile</span></a></li>
		</ul>
		<ul>
			<li><a href="@Url.Action("index","Home")"><i class="fa fa-envelope"></i><span>Inbox</span></a></li>
			<li><a href="#"><i class="fa fa-server"></i><span>Sent</span></a></li>
			<li class="contacts top_border">
				<a href="#" disabled><i class="fa fa-address-book"></i><span>Contats</span></a>
			</li>
		</ul>
		<ul class="user_list user_list_filter">
			<li class="user_item"><a href="#" disabled>
				<i class="fa"></i>
				<span>
					<input type="text" id="filter_user_list" placeholder="Seach user"/>
				</span></a></li>
		</ul>
		<ul class="user_list scrollbar-macosx">
			@{
				var users_list = (List<ApplicationUser>)ViewData["Users"];
				if (users_list != null)
				{
					foreach (var user in users_list)
					{
						<li class="user_item"><a href="@Url.Action("SendMail", "Home", new { id = user.UserName})" disabled><i class="fa"></i><span title="@{ @user.UserName}">@{ @user.FullName}</span></a></li>
					}
				}
			}
		</ul>
		
	</div>
	<!-- Content -->
	<div class="main active">
		@RenderBody()
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/scrollbar")
	@RenderSection("scripts", required: false)
	<script type="text/javascript">
			$('#menu-action').click(function() {
				$('.sidebar').toggleClass('active');
				$('.main').toggleClass('active');
				$(this).toggleClass('active');

				if ($('.sidebar').hasClass('active')) {
					$(this).find('i').addClass('fa-close');
					$(this).find('i').removeClass('fa-bars');

					var w = parseInt($(".open_mail").css("width")) - 248;
				} else {
					$(this).find('i').addClass('fa-bars');
					$(this).find('i').removeClass('fa-close');

					var w = parseInt($(".open_mail").css("width")) + 248;
				}
				$(".open_mail").animate({"width": w+"px"}, "400");
			});
	</script>
	<script type="text/javascript">
			$("a.open_mail_back_link").click(function(){
				$(".inbox_col").css("z-index", "2");
			});
			$(".message").click(function(){
				$(".inbox_col").css("z-index", "0");
			})
	</script>
	<script type="text/javascript">
	            jQuery(document).ready(function(){
	                jQuery('.scrollbar-macosx').scrollbar();
	            });
	</script>
</body>
</html>